body {
	font-family: Arial, sans-serif;
	text-align: left;
	margin: 20px;
}
h1 {
	color:#333;
}
form {
	margin-top: 20px;
}
ul {
	list-style: none;
	padding: 0;
}
li{
	font-size: 30px;
	padding: 10px;
	justify-content: space-between;
	position: relative;
}
li::before{
	content: '\2022';
	color: #333;
	font-size: 1.5em;
	
}

li.completed{
	text-decoration: line-through;
}
li button {
	margin-left: 80%;
}