body{
    background-color: cadetblue;
}

h1{
    padding-top: 10px;
    padding-bottom: 20px;
}



form{
    padding-top: 10px;
}

button{
    color: blue;
    background-color: aliceblue;
    border-radius: 20px;
}

li.completed {
    text-decoration: line-through;
}